<server description="WebSphere Liberty Collective Controller">

    <featureManager>
        <feature>jaxrs-2.1</feature>
        <feature>servlet-4.0</feature>
        <feature>cdi-2.0</feature>
        <feature>jsonp-1.1</feature>
        <feature>jsonb-1.0</feature>
        <feature>adminCenter-1.0</feature>
        <feature>restConnector-2.0</feature>
        <feature>collectiveController-1.0</feature>
        <feature>ssl-1.0</feature>
    </featureManager>


    <httpEndpoint id="defaultHttpEndpoint"
                  host="*"
                  httpPort="9080"
                  httpsPort="9443" />

    <!-- Quick Start Security for Admin Center -->
    <quickStartSecurity userName="admin" userPassword="adminpwd" />

    <!-- Enable application auto-expansion -->
    <applicationManager autoExpand="true"/>

    <!-- Define the host name for use by the collective -->
    <variable name="defaultHostName" value="localhost" />

    <!-- Collective Controller Configuration -->
    <collectiveController>
        <host>*</host>
        <httpsPort>9443</httpsPort>
        <serverIdentity>controller</serverIdentity>
    </collectiveController>

    <!-- SSL Configuration with client authentication for collective -->
    <ssl id="defaultSSLConfig" keyStoreRef="defaultKeyStore" />
    <keyStore id="defaultKeyStore" password="yourPassword" />

    <!-- Remote file access for collective operations -->
    <remoteFileAccess>
        <readDir>${wlp.install.dir}</readDir>
        <readDir>${wlp.user.dir}</readDir>
        <readDir>${server.output.dir}</readDir>
        <readDir>${server.config.dir}</readDir>
        <writeDir>${server.config.dir}</writeDir>
        <writeDir>${server.output.dir}</writeDir>
    </remoteFileAccess>

</server>
